.card {
    background-color: #fff;
    margin-bottom: 50px;
    box-shadow: 0px 0px 12px 4px #E0E1E5;

    & :hover {
        background-color: #FDF1FF;
    }
}

.card__discription {
    position: relative;
    padding: 10px 10px;

    .card__discription-title {
        font-family: Maven Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        color: #6E6E6E;
        margin-bottom: 46px;
    }

    .card__discription-text {
        margin-bottom: 12px;
        font-family: Maven Pro;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        color: #6E6E6E;
    }

    .card__discription-date {
        font-family: Maven Pro;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #484B98;
    }

    .card__discription-link {
        margin-top: 60px;
        
        & a {
            text-decoration: none;
            font-family: Maven Pro;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            color: #6E6E6E;
        }
    }

    .card__discription-time {
        font-family: Maven Pro;
        position: absolute;
        right: 10px;
        bottom: 12px;
    }
}

.card--editional {
    background-color: transparent;
    width: 262px;
    height: 141px;
    border: 2px solid #FDFDFD;
    box-sizing: border-box;
    display: flex;
    justify-content: center;    
}


@media only screen and (max-width: 320px) {
    .card {
        margin-bottom: 14px;
    }
}