.card {
    $self: &;

    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    box-shadow: 0px 0px 12px 4px #E0E1E5;

    &--editional {
        width: 100%;
        background-color: #fff;
        margin-bottom: 30px;
        box-shadow: 0px 0px 12px 4px #E0E1E5;
        background-color: transparent;
        border: 2px solid #FDFDFD;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        
        &:hover {
            border:2px solid #E8C5ED;

            #{$self}__add {
                border:1px solid #E8C5ED;
            }
        }

        &:focus {
            color: #FDF1FF;
            border:2px solid #E8C5ED;
            outline: none;

            #{$self}__add {
                border-color: #E8C5ED;
            }
        }
    }

    &:focus {
        color: #FDF1FF;
    }

    @media only screen and (max-width: 320px) {
        margin-bottom: 14px;
    }

    &__add {
        height: 36px; 
        width: 0;
        position: relative; 
        border: 1px solid #FDFDFD;
        margin: 50px 0px;

        &:after {
            content: "";
            height: 0; 
            width: 36px;
            position: absolute; 
            left: -20px;
            top: 17px;
            border: 1px solid #FDFDFD;
        }            height: 36px; 
            width: 0;
            position: relative; 
            border: 1px solid #FDFDFD;
            margin: 50px 0px;

            &:after {
                content: "";
                height: 0; 
                width: 36px;
                position: absolute; 
                left: -20px;
                top: 17px;
                border: 1px solid #FDFDFD;
            }
    }

    &__image {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    &__discription {
        position: relative;
        padding: 10px 10px;

        &-title {
            font-weight: bold;
            font-size: 20px;
            line-height: 23px;
            color: #6E6E6E;
            margin-bottom: 46px;
        }

        &-text {
            margin-bottom: 12px;
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
            color: #6E6E6E;
        }

        &-date {
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #484B98;
        }

        &-link {
            margin-top: 60px;

            a {
                text-decoration: none;
                font-weight: 500;
                font-size: 16px;
                line-height: 22px;
                color: #6E6E6E;

                &:hover {
                    color: #E7E7EA;
                }
                
                &:focus {
                    color: #E7E7EA;
                    border: none;
                    outline: none;
                }
            }
        }

        &-time {
            position: absolute;
            right: 10px;
            bottom: 12px;
        }
    }
}