.filter {
	width: 100%; 
    background-color:#fff;
    display: flex;
    justify-content: center;
}
.checkbox-wrapper {
    padding: 40px 0px;
    display: flex;

    &--content {
        .checkbox {
            position: relative;
            padding-left: 32px;
            color: #6E6E6E;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            
            &:not(:first-child) {
                margin-top: 20px;
            }
    
            .fake {
                width: 20px;
                height: 20px;
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
    
                &:after {
                    content: '';
                    display: block;
                    width: 20px;
                    height: 20px;
                    background: #E7E7EA;
                    border-radius: 2px;
    
                }
    
                &:hover {
                    &:after {
                        background-color: #E8C5ED;
                    } 
                }
    
                &:focus {
                    border: none;
                    outline: none;
                    &:after {
                        background-image: url(../images/9mark.png);
                        background-position: center;
                        background-repeat: no-repeat;
                    }  
                }
            }
    
            .checkbox__check {
                display: none;
            }
    
            .checkbox__check:checked + .fake {
                &:after {
                    background-color: #E7E7EA;
                }
            } 
        }
    }

    &--content:not(:first-child) {
        margin-left: 20px;
    }
}

