.footer {
	width: 100%; 
    background-color:#484B98;
    display: flex;
    justify-content: center;

    @media (min-width: 768px) {
        padding: 20px 0;
    }

    @media (max-width: 767px) {
        position: fixed;
        bottom: 0;
        left: 0;
    }
}

.social {
    display: none;
    justify-content: flex-end;
    width: 100%;
    margin: 12px 0;

    &--absolute {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 44px;
        width: calc(100% - 44px);
        height: 100%;
        background-color: #484B98;
        margin: 0;
        padding: 0 16px;
    }

    @media (min-width: 767px) {
        display: flex;
    }

    &__item {
        text-decoration: none;
        height: 24px;
        width: 24px;

        & + & {
            margin-left: 24px;

            @media (min-width: 1200px) {
                margin-left: 46px;
            }
        }

        & :hover {
            fill: #E8C5ED;
        }

        & :focus {
            fill: #E8C5ED;
            // border: none;
            // outline: none;
        }
        
    }
}

.footer-center {
    display: flex;
    position: relative;

    @media (max-width: 767px) {
        width: calc(100% + 30px);
        margin-left: -15px;
        margin-right: -15px;
    }
}

.share {
    @media (min-width: 768px) {
        display: none;
    }

    width: 44px;
    height: 44px;
    flex: 0 0 44px;
    background: #FDF1FF33;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}