.footer {
	width: 100%; 
    background-color:#484B98;
    display: flex;
    justify-content: center;
}

.logo--footer {
    margin: 23px 0px 24px 0px;
}

.navigation--footer {
    margin: 42px 50px 29px 0px;
}

.social {
    display: flex;
    margin: 34px 0px 32px 0px;

    .social__item {
        text-decoration: none;
        height: 24px;
        width: 24px;
        margin-left: 46px;

        & :hover {
            fill: #E8C5ED;
        }
    }
}

@media (max-width: 320px) {
    .footer {
        width: 320px; 
    }

    .logo--footer {
        display: none;
    }

    .navigation--footer {
        display: flex;
        margin: 18px 0px 16px 0px;
        padding: 0px;
        
        .navigation__nav--item {
            font-size: 16px;
            line-height: 19px;
            margin-left: 39px;  
        }
        .calendar{
            list-style: url(../images/Vectorcalendar.png);
        }
        .plans {
            list-style: url(../images/Vectorsend.png);
        }
        .todo {
            list-style: url(../images/Vectorcheck.png);
        }
    }

    .social {
        background-image: url(../images/dashicons-share.png);
        background-repeat: no-repeat;
        background-position: center;
        height: 24px;
        width: 24px;
        margin: 16px 20px 16px 0px;
    
        .social__item {
            display: none;
        }
    }
}

    
